<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="" style="color: #178582">TaZZkTracker</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> <a style="color: #178582">Menu</a>
                    </NavLink>
                </div>
        <AuthorizeView Roles="User">
            <Authorized>

                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="tasks">
                        <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> <a style="color: #178582">To-Do-List</a>
                    </NavLink>
                </div>
            </Authorized>
            <NotAuthorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="login" Match="NavLinkMatch.All">
                        <span aria-hidden="true"></span> <a style="color: #178582">Se connecter</a>
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="register" Match="NavLinkMatch.All">
                        <span aria-hidden="true"></span> <a style="color: #178582">S'inscrire</a>
                    </NavLink>
                </div>
            </NotAuthorized>
        </AuthorizeView>
    </nav>
</div>

