@page "/"
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider authStateProvider

<PageTitle>Home</PageTitle>

<AuthorizeView>
    <Authorized>
        <h1>
            Bonjour, @context.User.Identity.Name ! Vous pouvez ici gérer votre To-Do-List
        </h1>
    </Authorized>
    <NotAuthorized>
        <h1>Bienvenue sur le site de Eliot, Lucas et Cyprien</h1>
        <h2>Vous pouvez ici créer un compte, vous connecter et gérer votre To-Do-List</h2>
    </NotAuthorized>
</AuthorizeView>